html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  padding-left: 10px;
  padding-top: 30px;
}

#more {
  display: none;
}

h1 {
  color: #333;
}

.smaller-image {
  width: 200px;
  height: auto;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button-container {
  text-align: center;
}

.contact {
  background-color: cyan;
  padding: 10px;
  border: 1px solid blue;
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

.inputGrouping {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  line-height: 1;
}

.inputGrouping textarea {
  width: 60%
}

.contact-form button {
  background-color: purple;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: darkviolet;
}

.link-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #003366;
  font-size: 36px;
  padding-top: 20px;
  margin-top: 0;
}

p.subheader {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #006666;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#barPlot {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 90%;
}

.title {
  font-size: 24px;
  text-align: center;
  color: #0077cc;
}

@media (max-width: 480px) {
  #barPlot {
    max-width: 100%;
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  h1 {
    font-size: 24px;
    padding-top: 10px;
  }

  p.subheader {
    font-size: 14px;
  }
  ul, li {
      float: none;
      display: block;
      width: 100%;
  }

  li a {
      padding: 10px; 
      text-align: left; 
  }
  body {
    padding-top: 60px;
  }
}


.shark-button {
  background-color: #0077cc;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.shark-button:hover {
  background-color: #005fa3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0277bd;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

li a:hover {
  background-color: #01579b;
}


ul:after {
  content: "";
  display: table;
  clear: both;
}