html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  padding-left: 10px;
}

#more {
  display: none;
}

h1 {
  color: #333;
}

.smaller-image {
  width: 200px;
  height: auto;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.button-container {
  text-align: center;
}

.contact {
  background-color: cyan;
  padding: 10px;
  border: 1px solid blue;
  width: 50%;
  margin-left: auto;
  text-align: center;
}

.inputGrouping {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  line-height: 1;
}
.inputGrouping textarea {
  width: 60%
}
.contact-form button {
  background-color: purple;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: darkviolet;
}